body {
<<<<<<< HEAD
	background-color: #ccc;
	font-weight: bold;
	color: white;
	text-align: center;
}

#centrar-imagen {
	text-align: center;
=======
	background-color: green;
	font-size: 25px;
	color: white;
>>>>>>> bc3b8d0fb8b579d6328a52f1de92ff0267cee76f
}